{% extends 'movies/base.html' %}

{% block title %}About Us{% endblock %}

{% block body %}
<div class="page_description">
        <h1><strong>About Triangle Cinema</strong></h1>
    </div>
<div class="container">
	<br>
	<h2>Mission</h2>
	<p>The Triangle Cinema brings people together to connect through unforgettable cinematic experiences. Maximizing customer convenience and comfort has been of the utmost importance since the company was founded in 2019. Based in Raleigh, North Carolina, Triangle Cinema offers a wide array of new releases and customer favorite food and drinks, including the finest beer, craft beer, and more. As one of the first movie theaters to sell craft beer, Triangle Cinema is the place to go to if you find yourself looking for a rare IPA.</p>

	<p>Triangle Ticketing, our official web application, puts user convenience and efficiency at the top of the list by offering a user friendly movie ticket request system. With Triangle Ticketing, the need to go to a movie theater and find out if there are seats available is a thing of the past. Thanks to the app, the only thing users need to worry about is the kind of movie they want to watch or the food and drinks they'd like to try! The Triangle Ticketing app offers a list of movies to browse through, ticket and seat reservation, a menu to browse food and beverage options, a contact page, and more!</p>

	<p>If you have any questions, don't hesitate to <a href="/movies/movies/contact_us">contact us!</a></p>
</div>
{% endblock %}