{% extends 'movies/base.html' %}


{% block title %}Promotions{% endblock %}

{% block body %}
<div class="page_description">
	<h1><strong>Promotions</strong></h1>
</div>
<div class="container">
    <div>
        <br>
        <p>Welcome to our promotions page!</p>
        <p>Please see below for our current offers and their respective
            terms of eligibility and use </p>

        <!-- First Promotion -->
        <h3>Buy one Large Popcorn get second 50% off!</h3>
        <ul>
             <li>
                Offer is valid from <strong>April 1</strong>, 2019 (12:01 am EST) through <strong>April 5</strong>, 2019 (11:59 pm EST), while supplies last
            </li>
            <li>
                Offer is valid in the United States
            </li>
        </ul>

        <!-- Second Promotion -->
        <h3>Get a $5 Ticket to Glass!</h3>
        <ul>
            <li>
                Offer is valid from <strong>April 1</strong>, 2019 (12:01 am EST) through <strong>April 23</strong>, 2019 (11:59 pm EST), while supplies last
            </li>
            <li>
                Offer is valid in the United States
            </li>
        </ul>

        <h6>More promotions coming soon, stay tuned!</h6>
    </div>
</div>
{% endblock %}